In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
wordle_words = pd.read_csv('Word Data/wordle_words.csv')
wordle_words

        word       count
0      about  1226734006
1      other   978481319
2      which   810514085
3      their   782849411
4      there   701170205
...      ...         ...
39928  goovo       12711
39929  goova       12711
39930  goolh       12711
39931  gooek       12711
39932  golgw       12711

[39933 rows x 2 columns]

In [3]:
wordle_words["log_count"] = wordle_words["count"].apply(lambda x: np.log(x))
wordle_words["probability"] = wordle_words["log_count"]/wordle_words["log_count"].sum()
wordle_words

        word       count  log_count  probability
0      about  1226734006  20.927621     0.000047
1      other   978481319  20.701512     0.000046
2      which   810514085  20.513179     0.000046
3      their   782849411  20.478451     0.000046
4      there   701170205  20.368261     0.000046
...      ...         ...        ...          ...
39928  goovo       12711   9.450223     0.000021
39929  goova       12711   9.450223     0.000021
39930  goolh       12711   9.450223     0.000021
39931  gooek       12711   9.450223     0.000021
39932  golgw       12711   9.450223     0.000021

[39933 rows x 4 columns]

In [4]:
wordle_words['first'] = wordle_words['word'].str[0]
wordle_words['second'] = wordle_words['word'].str[1]
wordle_words['third'] = wordle_words['word'].str[2]
wordle_words['fourth'] = wordle_words['word'].str[3]
wordle_words['fifth'] = wordle_words['word'].str[4]
wordle_words

,word,count,log_count,probability,first,second,third,fourth,fifth
0,about,1226734006,20.927621,0.000047,a,b,o,u,t
1,other,978481319,20.701512,0.000046,o,t,h,e,r
2,which,810514085,20.513179,0.000046,w,h,i,c,h
3,their,782849411,20.478451,0.000046,t,h,e,i,r
4,there,701170205,20.368261,0.000046,t,h,e,r,e
...,...,...,...,...,...,...,...,...,...
39928,goovo,12711,9.450223,0.000021,g,o,o,v,o
39929,goova,12711,9.450223,0.000021,g,o,o,v,a
39930,goolh,12711,9.450223,0.000021,g,o,o,l,h
39931,gooek,12711,9.450223,0.000021,g,o,o,e,k
39932,golgw,12711,9.450223,0.000021,g,o,l,g,w

In [5]:
letters = list(string.ascii_lowercase)
cols = ['first','second','third','fourth','fifth']
counts_dict = {}
for col in cols:
    counts = ({letter: wordle_words[col].str.contains(letter).sum() for letter in string.ascii_lowercase})
    counts_dict[col] = counts
counts_dict

{'first': {'a': np.int64(2822),
  'b': np.int64(2347),
  'c': np.int64(2445),
  'd': np.int64(1946),
  'e': np.int64(1436),
  'f': np.int64(1450),
  'g': np.int64(1921),
  'h': np.int64(1606),
  'i': np.int64(1176),
  'j': np.int64(846),
  'k': np.int64(1705),
  'l': np.int64(1751),
  'm': np.int64(2445),
  'n': np.int64(1658),
  'o': np.int64(1102),
  'p': np.int64(2172),
  'q': np.int64(170),
  'r': np.int64(1793),
  's': np.int64(3430),
  't': np.int64(2144),
  'u': np.int64(569),
  'v': np.int64(912),
  'w': np.int64(1015),
  'x': np.int64(258),
  'y': np.int64(416),
  'z': np.int64(398)},
 'second': {'a': np.int64(7387),
  'b': np.int64(435),
  'c': np.int64(887),
  'd': np.int64(546),
  'e': np.int64(4847),
  'f': np.int64(354),
  'g': np.int64(411),
  'h': np.int64(1399),
  'i': np.int64(4061),
  'j': np.int64(103),
  'k': np.int64(349),
  'l': np.int64(1787),
  'm': np.int64(687),
  'n': np.int64(1156),
  'o': np.int64(5526),
  'p': np.int64(714),
  'q': np.int64(66),
  'r': np.int64(2443),
  's': np.int64(1070),
  't': np.int64(922),
  'u': np.int64(2897),
  'v': np.int64(293),
  'w': np.int64(398),
  'x': np.int64(188),
  'y': np.int64(845),
  'z': np.int64(162)},
 'third': {'a': np.int64(3340),
  'b': np.int64(1118),
  'c': np.int64(1486),
  'd': np.int64(1480),
  'e': np.int64(2552),
  'f': np.int64(524),
  'g': np.int64(1331),
  'h': np.int64(757),
  'i': np.int64(2918),
  'j': np.int64(255),
  'k': np.int64(789),
  'l': np.int64(2714),
  'm': np.int64(1728),
  'n': np.int64(3125),
  'o': np.int64(2671),
  'p': np.int64(1085),
  'q': np.int64(82),
  'r': np.int64(3572),
  's': np.int64(2097),
  't': np.int64(2141),
  'u': np.int64(1487),
  'v': np.int64(780),
  'w': np.int64(497),
  'x': np.int64(328),
  'y': np.int64(626),
  'z': np.int64(450)},
 'fourth': {'a': np.int64(3998),
  'b': np.int64(761),
  'c': np.int64(1687),
  'd': np.int64(1543),
  'e': np.int64(5534),
  'f': np.int64(522),
  'g': np.int64(1156),
  'h': np.int64(835),
  'i': np.int64(3491),
  'j': np.int64(216),
  'k': np.int64(1206),
  'l': np.int64(2152),
  'm': np.int64(1205),
  'n': np.int64(2498),
  'o': np.int64(2642),
  'p': np.int64(908),
  'q': np.int64(34),
  'r': np.int64(2226),
  's': np.int64(1745),
  't': np.int64(2599),
  'u': np.int64(1285),
  'v': np.int64(409),
  'w': np.int64(275),
  'x': np.int64(117),
  'y': np.int64(501),
  'z': np.int64(388)},
 'fifth': {'a': np.int64(4395),
  'b': np.int64(342),
  'c': np.int64(917),
  'd': np.int64(1455),
  'e': np.int64(4538),
  'f': np.int64(358),
  'g': np.int64(765),
  'h': np.int64(1036),
  'i': np.int64(2103),
  'j': np.int64(65),
  'k': np.int64(917),
  'l': np.int64(1971),
  'm': np.int64(892),
  'n': np.int64(3010),
  'o': np.int64(2686),
  'p': np.int64(632),
  'q': np.int64(68),
  'r': np.int64(2151),
  's': np.int64(5341),
  't': np.int64(2050),
  'u': np.int64(568),
  'v': np.int64(203),
  'w': np.int64(206),
  'x': np.int64(565),
  'y': np.int64(2229),
  'z': np.int64(470)}}

In [6]:
column_probabilities = pd.DataFrame(counts_dict)
column_probabilities.index.name = "letter"
column_probabilities.index = column_probabilities.index.astype(str)
column_probabilities

        first  second  third  fourth  fifth
letter
a        2822    7387   3340    3998   4395
b        2347     435   1118     761    342
c        2445     887   1486    1687    917
d        1946     546   1480    1543   1455
e        1436    4847   2552    5534   4538
f        1450     354    524     522    358
g        1921     411   1331    1156    765
h        1606    1399    757     835   1036
i        1176    4061   2918    3491   2103
j         846     103    255     216     65
k        1705     349    789    1206    917
l        1751    1787   2714    2152   1971
m        2445     687   1728    1205    892
n        1658    1156   3125    2498   3010
o        1102    5526   2671    2642   2686
p        2172     714   1085     908    632
q         170      66     82      34     68
r        1793    2443   3572    2226   2151
s        3430    1070   2097    1745   5341
t        2144     922   2141    2599   2050
u         569    2897   1487    1285    568
v         912     293    780     409    203
w        1015     398    497     275    206
x         258     188    328     117    565
y         416     845    626     501   2229
z         398     162    450     388    470

In [7]:
def word_log_likelihood(word, freq_df):
    column_pos = [[0,'first'],[1,'second'],[2,'third'],[3,'fourth'],[4,'fifth']]
    return sum(np.log(freq_df.loc[word[col[0]], col[1]]) for col in column_pos)

word_log_likelihood("whizz", column_probabilities)

np.float64(34.25854862955148)

In [8]:
wordle_words["log_likelihood"] = wordle_words["word"].apply(lambda w: word_log_likelihood(w, column_probabilities))
wordle_words

,word,count,log_count,probability,first,second,third,fourth,fifth,log_likelihood
0,about,1226734006,20.927621,0.000047,a,b,o,u,t,36.694864
1,other,978481319,20.701512,0.000046,o,t,h,e,r,36.753145
2,which,810514085,20.513179,0.000046,w,h,i,c,h,36.518640
3,their,782849411,20.478451,0.000046,t,h,e,i,r,38.590206
4,there,701170205,20.368261,0.000046,t,h,e,r,e,38.886777
...,...,...,...,...,...,...,...,...,...,...
39928,goovo,12711,9.450223,0.000021,g,o,o,v,o,37.977552
39929,goova,12711,9.450223,0.000021,g,o,o,v,a,38.469967
39930,goolh,12711,9.450223,0.000021,g,o,o,l,h,38.685304
39931,gooek,12711,9.450223,0.000021,g,o,o,e,k,39.507803
39932,golgw,12711,9.450223,0.000021,g,o,l,g,w,36.464597

In [10]:
wordle_words.to_csv('Word Data/wordle_words.csv')
column_probabilities.to_csv('Word Data/letter_probabilities.csv')