In [16]:
import pandas as pd
import numpy as np
import string

In [63]:
wordle_words = pd.read_csv('wordle_words.csv')
wordle_words

      Unnamed: 0   word       count  log_count  probability
0              0  about  1226734006  20.927621     0.000188
1              1  other   978481319  20.701512     0.000186
2              2  which   810514085  20.513179     0.000184
3              3  their   782849411  20.478451     0.000184
4              4  there   701170205  20.368261     0.000183
...          ...    ...         ...        ...          ...
8749        8749  sevak       12751   9.453365     0.000085
8750        8750  maist       12738   9.452345     0.000085
8751        8751  hully       12736   9.452188     0.000085
8752        8752  intil       12721   9.451009     0.000085
8753        8753  toits       12716   9.450616     0.000085

[8754 rows x 5 columns]

In [64]:
wordle_words['first'] = wordle_words['word'].str[0]
wordle_words['second'] = wordle_words['word'].str[1]
wordle_words['third'] = wordle_words['word'].str[2]
wordle_words['fourth'] = wordle_words['word'].str[3]
wordle_words['fifth'] = wordle_words['word'].str[4]
wordle_words

,Unnamed: 0,word,count,log_count,probability,first,second,third,fourth,fifth
0,0,about,1226734006,20.927621,0.000188,a,b,o,u,t
1,1,other,978481319,20.701512,0.000186,o,t,h,e,r
2,2,which,810514085,20.513179,0.000184,w,h,i,c,h
3,3,their,782849411,20.478451,0.000184,t,h,e,i,r
4,4,there,701170205,20.368261,0.000183,t,h,e,r,e
...,...,...,...,...,...,...,...,...,...,...
8749,8749,sevak,12751,9.453365,0.000085,s,e,v,a,k
8750,8750,maist,12738,9.452345,0.000085,m,a,i,s,t
8751,8751,hully,12736,9.452188,0.000085,h,u,l,l,y
8752,8752,intil,12721,9.451009,0.000085,i,n,t,i,l
8753,8753,toits,12716,9.450616,0.000085,t,o,i,t,s

In [65]:
letters = list(string.ascii_lowercase)
cols = ['first','second','third','fourth','fifth']
counts_dict = {}
for col in cols:
    counts = ({letter: wordle_words[col].str.contains(letter).sum() for letter in string.ascii_lowercase})
    counts_dict[col] = counts
counts_dict

{'first': {'a': np.int64(475),
  'b': np.int64(660),
  'c': np.int64(675),
  'd': np.int64(457),
  'e': np.int64(183),
  'f': np.int64(421),
  'g': np.int64(399),
  'h': np.int64(339),
  'i': np.int64(103),
  'j': np.int64(117),
  'k': np.int64(198),
  'l': np.int64(399),
  'm': np.int64(572),
  'n': np.int64(243),
  'o': np.int64(150),
  'p': np.int64(640),
  'q': np.int64(51),
  'r': np.int64(442),
  's': np.int64(1046),
  't': np.int64(560),
  'u': np.int64(73),
  'v': np.int64(176),
  'w': np.int64(268),
  'x': np.int64(9),
  'y': np.int64(58),
  'z': np.int64(40)},
 'second': {'a': np.int64(1653),
  'b': np.int64(48),
  'c': np.int64(121),
  'd': np.int64(56),
  'e': np.int64(1088),
  'f': np.int64(15),
  'g': np.int64(36),
  'h': np.int64(390),
  'i': np.int64(985),
  'j': np.int64(6),
  'k': np.int64(45),
  'l': np.int64(478),
  'm': np.int64(103),
  'n': np.int64(206),
  'o': np.int64(1426),
  'p': np.int64(140),
  'q': np.int64(11),
  'r': np.int64(650),
  's': np.int64(63),
  't': np.int64(167),
  'u': np.int64(765),
  'v': np.int64(36),
  'w': np.int64(93),
  'x': np.int64(33),
  'y': np.int64(127),
  'z': np.int64(13)},
 'third': {'a': np.int64(836),
  'b': np.int64(216),
  'c': np.int64(305),
  'd': np.int64(274),
  'e': np.int64(541),
  'f': np.int64(108),
  'g': np.int64(247),
  'h': np.int64(60),
  'i': np.int64(708),
  'j': np.int64(19),
  'k': np.int64(160),
  'l': np.int64(647),
  'm': np.int64(340),
  'n': np.int64(766),
  'o': np.int64(657),
  'p': np.int64(238),
  'q': np.int64(9),
  'r': np.int64(830),
  's': np.int64(370),
  't': np.int64(477),
  'u': np.int64(399),
  'v': np.int64(181),
  'w': np.int64(114),
  'x': np.int64(77),
  'y': np.int64(103),
  'z': np.int64(72)},
 'fourth': {'a': np.int64(678),
  'b': np.int64(176),
  'c': np.int64(328),
  'd': np.int64(343),
  'e': np.int64(1589),
  'f': np.int64(120),
  'g': np.int64(284),
  'h': np.int64(153),
  'i': np.int64(565),
  'j': np.int64(21),
  'k': np.int64(316),
  'l': np.int64(529),
  'm': np.int64(260),
  'n': np.int64(572),
  'o': np.int64(441),
  'p': np.int64(247),
  'q': np.int64(1),
  'r': np.int64(484),
  's': np.int64(381),
  't': np.int64(686),
  'u': np.int64(254),
  'v': np.int64(104),
  'w': np.int64(76),
  'x': np.int64(8),
  'y': np.int64(67),
  'z': np.int64(71)},
 'fifth': {'a': np.int64(581),
  'b': np.int64(33),
  'c': np.int64(84),
  'd': np.int64(470),
  'e': np.int64(1087),
  'f': np.int64(44),
  'g': np.int64(88),
  'h': np.int64(272),
  'i': np.int64(196),
  'j': np.int64(0),
  'k': np.int64(194),
  'l': np.int64(337),
  'm': np.int64(117),
  'n': np.int64(434),
  'o': np.int64(354),
  'p': np.int64(105),
  'q': np.int64(2),
  'r': np.int64(524),
  's': np.int64(2299),
  't': np.int64(483),
  'u': np.int64(44),
  'v': np.int64(0),
  'w': np.int64(28),
  'x': np.int64(55),
  'y': np.int64(896),
  'z': np.int64(27)}}

In [66]:
column_probabilities = pd.DataFrame(counts_dict)
column_probabilities.index.name = "letter"
column_probabilities.index = column_probabilities.index.astype(str)
column_probabilities

        first  second  third  fourth  fifth
letter
a         475    1653    836     678    581
b         660      48    216     176     33
c         675     121    305     328     84
d         457      56    274     343    470
e         183    1088    541    1589   1087
f         421      15    108     120     44
g         399      36    247     284     88
h         339     390     60     153    272
i         103     985    708     565    196
j         117       6     19      21      0
k         198      45    160     316    194
l         399     478    647     529    337
m         572     103    340     260    117
n         243     206    766     572    434
o         150    1426    657     441    354
p         640     140    238     247    105
q          51      11      9       1      2
r         442     650    830     484    524
s        1046      63    370     381   2299
t         560     167    477     686    483
u          73     765    399     254     44
v         176      36    181     104      0
w         268      93    114      76     28
x           9      33     77       8     55
y          58     127    103      67    896
z          40      13     72      71     27

In [70]:
def word_log_likelihood(word, freq_df):
    column_pos = [[0,'first'],[1,'second'],[2,'third'],[3,'fourth'],[4,'fifth']]
    return sum(np.log(freq_df.loc[word[col[0]], col[1]]) for col in column_pos)

word_log_likelihood("whizz", column_probabilities)

np.int64(1464)

In [72]:
wordle_words["log_likelihood"] = wordle_words["word"].apply(lambda w: word_log_likelihood(w, column_probabilities))
wordle_words

,Unnamed: 0,word,count,log_count,probability,first,second,third,fourth,fifth,log_likelihood,likelihood
0,0,about,1226734006,20.927621,0.000188,a,b,o,u,t,1917,1917
1,1,other,978481319,20.701512,0.000186,o,t,h,e,r,2490,2490
2,2,which,810514085,20.513179,0.000184,w,h,i,c,h,1966,1966
3,3,their,782849411,20.478451,0.000184,t,h,e,i,r,2580,2580
4,4,there,701170205,20.368261,0.000183,t,h,e,r,e,3062,3062
...,...,...,...,...,...,...,...,...,...,...,...,...
8749,8749,sevak,12751,9.453365,0.000085,s,e,v,a,k,3187,3187
8750,8750,maist,12738,9.452345,0.000085,m,a,i,s,t,3797,3797
8751,8751,hully,12736,9.452188,0.000085,h,u,l,l,y,3176,3176
8752,8752,intil,12721,9.451009,0.000085,i,n,t,i,l,1688,1688
8753,8753,toits,12716,9.450616,0.000085,t,o,i,t,s,5679,5679

In [69]:
wordle_words.to_csv('wordle_words.csv')
column_probabilities.to_csv('letter_probabilities.csv')